/* styles.css */

body {
    font-family: Open Sans, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498DB;
    padding: 1em;
    text-align: center;
    position: static;
    top: 0;
    width: 100vw;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    color: #CCCCCC;
}

.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.widget {
    background-color: #0ff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.widget h2 {
    margin-top: 0;
}

#co, #ozone, #pm25, #population, #temp, #hum, #alldata {
    height: auto;
    min-width: 10rem;
    margin: 20px;
}

footer {
    background-color: #3498DB;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    clear: both;
    width: 100%;
    position: absolute;
    bottom: 0;
}